body {
   background-color:#B4CDE6;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 30%
}
img {
   height:250px;
   width:250px;
}
h1, h3 {
  color: #428558 ;
}
